---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - sleepod.sleepod.io
  resources:
  - sleeporders
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sleepod.sleepod.io
  resources:
  - sleeporders/finalizers
  verbs:
  - update
- apiGroups:
  - sleepod.sleepod.io
  resources:
  - sleeporders/status
  verbs:
  - get
  - patch
  - update
