---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  - statefulsets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sleepod.sleepod.io
  resources:
  - sleeporders
  - sleeppolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sleepod.sleepod.io
  resources:
  - sleeporders/finalizers
  - sleeppolicies/finalizers
  verbs:
  - update
- apiGroups:
  - sleepod.sleepod.io
  resources:
  - sleeporders/status
  - sleeppolicies/status
  verbs:
  - get
  - patch
  - update
